<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-Frame-Options" content="allow">
    <link rel="stylesheet" href="../css/index.css">
    <link 
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous" 
      referrerpolicy="no-referrer"
    />
    <httpProtocol>
  <customHeaders>
    <add name="X-Frame-Options" value="allow-from" />
  </customHeaders>
</httpProtocol>
    <title>Home | Radiance</title>
</head>
<body>
    <div class="main-content">
        <div class="title">
          <h1>Radiance Home</h1>
        </div>
      <div class='grid-container'>
          <div class='select-grid'>
            <a href='/wr' class='grid-item tl wr'></a>
            <a href="/ubs" class='grid-item tr ubs'></a>
            <a href="/gba" class='grid-item bl gba'></a>
            <a href="/gs" class='grid-item br bm'></a>
          </div>
      </div>
    </div>
    <footer>
        <div class="copyright"></div>
        <div class="footer-links">
            <a href="#">Sup Brah</a> 
        </div>
    </footer>

    <script
        src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXbrtfgvY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        crossorigin="anonymous">
    </script>
    <script src="../js/copyright.js"></script>
</body>
</html>